# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=

# Razorpay API Credentials
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# AI Provider Credentials
GEMINI_API_KEY=
NVIDIA_API_KEY=
OPENCODE_API_KEY=
